<br>
<div class="container">
  <div class="m-4"><h1>Iniciar Sesión</h1></div>

<div>
<form class="m-4">
    <div class="form-floating col-6">
        <input type="email" class="form-control" name="email" id="Email" placeholder="ejemplo@gmail.com">
        <label for="email">Email</label>
      </div><br>
      <div class="form-floating col-6">
        <input type="password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Contraseña">
        <label for="Contraseña">Contraseña</label>
      </div><br>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>
</form>
</div>