<form class="m-4">
    <div class="form-floating col-6">
        <input type="email" class="form-control" id="floatingInput" placeholder="ejemplo@gmail.com">
        <label for="floatingInput">Email</label>
      </div><br>
      <div class="form-floating col-6">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div><br>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>
</form>