<form class="m-4">

    <div class="col-6">
        <label for="inputnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputnombre" placeholder="Nombre">
    </div>

    <div class="col-6">
        <label for="inputfistname" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputfistname" placeholder="Apellido">
    </div>

    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="ejemplo@gmail.com">
    </div>

    <div class="col-6">
        <label for="inputdni" class="form-label">DNI</label>
        <input type="number" class="form-control" id="inputdni" placeholder="DNI">
    </div>

    <div class="col-6">
      <label for="inputfdn" class="form-label">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="inputfdn" placeholder="dd/mm/aaaa">
  </div>

    <div class="col-6">
        <label for="inputtel" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="inputtel" placeholder="Teléfono">
    </div>

    <div class="col-6">
      <label for="inputdireccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="inputdireccion" placeholder="San Martín 450">
    </div><br>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

  </form>